{
    email {$LETSENCRYPT_EMAIL}
}

{$DOMAIN} {
    encode zstd gzip
    # Página estática no root
    handle_path / {
        root * /srv
        file_server browse false
    }
    @api path /api* /health
    handle @api {
        reverse_proxy api:5000
    }

    @waha path /waha*
    handle @waha {
        # Protege o dashboard do WAHA com Basic Auth (opcional)
        @needAuth {
            not {
                header Authorization *
            }
        }
        basicauth @needAuth {
            {$WAHA_USER} {$WAHA_PASSWORD_HASH}
        }
        reverse_proxy waha:3000
    }

    @n8n path /n8n*
    handle @n8n {
        # Protege o n8n com Basic Auth (opcional)
        @needAuthN8N {
            not {
                header Authorization *
            }
        }
        basicauth @needAuthN8N {
            {$N8N_USER} {$N8N_PASSWORD_HASH}
        }
        reverse_proxy n8n:5679
    }

    # fallback: se nada casar, serve estático (index.html)
    handle {
        root * /srv
        file_server browse false
    }
}

# Optional: redirect HTTP to HTTPS if Caddy receives plain HTTP on other hosts
http://{$DOMAIN} {
    redir https://{$DOMAIN}{uri} 308
}
